#canvas1{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.twitterPicker{
    margin:auto;
}